
<h2 id='colorHeading'>Resistor Code Calculator</h2>

<div ng-show="ctrl.error" class="alert alert-danger" role="alert" id="error">
  {{ctrl.error}}
</div>

<form>
    <div ng-repeat="color in [1, 2, 3, 4, 5]" class="form-group row">
        <label for="Color_{{$index+1}}">
          Band {{$index+1}} &nbsp
        </label>
        <select ng-model="ctrl.colorBands[$index]"
        ng-options="color.name for color in ctrl.colors track by color.name"
        id="Color_{{$index+1}}"></select>
    </div>
    <button ng-click="ctrl.createBands()" id="calculatorButton">
      Calculate
    </button>
    <div>
      <h1 ng-show="ctrl.showResistance" id="resistance">
        {{ctrl.colorBands[0].value}}{{ctrl.colorBands[1].value}}{{ctrl.colorBands[2].value}}{{ctrl.colorBands[3].multiplier}}
        &#937; +/- {{ctrl.colorBands[4].tolerance}}
      </h1>
</form>
